<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation defaultLanguage="c#" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true" applyToWebDAV="true">
          <remove fileExtension=".mdb" />
          <remove fileExtension=".config" />
        </fileExtensions>
        <hiddenSegments applyToWebDAV="true">
          <remove segment="storage" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>