<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation defaultLanguage="c#" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="."/>
          <add fileExtension="." allowed="true" />
        </fileExtensions>
        <hiddenSegments>
          <remove segment="storage" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>